:root {
	/*h1*/
	--color-a: #DC3522;
	/*background*/
	--color-b: #1E1E20;
	/*menu*/
	--color-c: #D9CB9E;
}
*{
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Futura, Arial, sans-serif;
}

section {
	width: 100%;
	padding: 0 10%;
	display: table;
	margin: 0;
	max-width: none;
	height: 100vh;

}

.first{
	height: 100vh;
	background: var(--color-b);
}

.content {
	display: table-cell;
	vertical-align: middle;

}

h1{
	font-size: 70px;
	color: var(--color-a); 
}

h1 a{
	font-size: 70px;
	color: var(--color-a); 
	text-decoration: none;
}

#menu a{
	font-size: 30px;
	color: var(--color-c); 
}

h2 {
	font-size: 30px;
	color: var(--color-c); 
}

h3 {
	font-size: 25px;
	color: var(--color-a); 
}

p {
	font-size: 20px;
	color: var(--color-c); 
}

li {
	color: var(--color-c); 
}

a {
	color: var(--color-a); 
}

img {
	width: 300px;
	height: auto;
}
